<p>The following information will be submitted as a report, is this ok?</p>
<table class="reportlist">
  <tr>
    <td>Username:</td>
    <td>{{report.username}}</td>
  </tr>
  <tr>
    <td>Board:</td>
    <td>{{report.board}}</td>
  </tr>
  <tr>
    <td>OS:</td>
    <td>{{report.os}}</td>
  </tr>
  <tr>
    <td>OS version:</td>
    <td>{{report.osv}}</td>
  </tr>
  <tr>
    <td>Node version:</td>
    <td>{{report.nodev}}</td>
  </tr>
  <tr>
    <td>Tester version:</td>
    <td>{{report.avrgatv}}</td>
  </tr>
  <tr>
    <td>AVRGirl version:</td>
    <td>{{report.avrgav}}</td>
  </tr>
  <tr>
    <td>Errors:</td>
    <td>{{#if report.error}}"{{report.error}}"{{else}}None{{/if}}</td>
  </tr>
</table>
