<p>The following information will be submitted as a report, is this ok?</p>
<ul>
  <li>Github user: {{#user-name}}{{/user-name}}</li>
  <li>OS: {{report.os}}</li>
  <li>OS version: {{report.osv}}</li>
  <li>Node version: {{report.nodev}}</li>
  <li>Tester version: {{report.avrgatv}}</li>
  <li>AVRGirl-Arduino version: {{report.avrgav}}</li>
    <li>Errors: {{#if report.error}}"{{report.error}}"{{else}}None{{/if}}</li>
  
</ul>
